/* Form */
form {
    background:#f9f9f9;
    padding: 30px 64px 32px;
    max-width: 350px;
    margin: 30px auto 0;
    box-shadow: 0 0 16px #222;
    border-radius: 2px;
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 26px;
    color: darken(#e5e5e5, 50%);
    border-bottom: solid 1px #cbcbcb;
 }

input[type="text"],
input[type="number"] {
        background:#fff;
        border: 1.5px solid #cbcbcb;
        font-size:14px;
        padding: 12.8px 8px;
        border-radius: 2px; 
    }

input[type="text"]:focus,
input[type="number"]:focus {
        background:#F8F8FF;
    }

button {
        background-color: rgb(156, 206, 70);
        box-shadow: 0 3px 0 0 darken;
        border-radius: 2px;
        border:none;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 16px;
        line-height: 25.6px;
        margin: 32px 0 0;
        outline:none;
        padding: 5px;
        text-shadow: 0 1px #68B25B;
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
 }

button:disabled {
    cursor: not-allowed;
  }

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
    height: 35px;
}
    

::placeholder {
    color:rgb(172, 172, 170);
    opacity: 1;
}
    
label {
        color: rgb(111, 110, 110);
        font-size: 17.5px;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 2px;
        font-weight: 400;
        background-color: rgba(178, 173, 173, 0); 
    }


/* Validation */
input.ng-invalid.ng-touched{
  border: red 1px solid;
}

small {
    color: red;
}


/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}