<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Form</title>
  <link href="./app.component.css" type="text/css" rel="stylesheet">
</head>

<body>
<!--Employee Registration Form-->
<form (ngSubmit)="AddUser()" #myForm="ngForm">
  <h2>Employee Details</h2>
  <label for="Name" class="floatLabel">Name</label>
  <input id="Name" name="Name" type="text" placeholder="Your name" [(ngModel)]="name" ngModel required #_name="ngModel">
  <div>
    <small *ngIf="_name.invalid && _name.touched">*Name is required</small>
  </div>

  <label for="ID" class="floatLabel">ID</label>
  <input id="ID" name="ID" type="text" placeholder="Your ID" [(ngModel)]="id" ngModel required #_id="ngModel">
  <div>
    <small *ngIf="_id.invalid && _id.touched">*ID is required</small>
  </div>
 
  <label for="Age" class="floatLabel">Age</label>
  <input id="Age" min="0" name="Age" type="number" placeholder="Your age" [(ngModel)]="age" ngModel required #_age="ngModel">
  <div>
    <small *ngIf="_age.invalid && _age.touched">*Age is required</small>
  </div>

  <label for="Location" class="floatLabel">Location</label>
  <input id="Location" name="Location" type="text" placeholder="Your location" [(ngModel)]="location" ngModel required #_location="ngModel">
  <div>
    <small *ngIf="_location.invalid && _location.touched">*Location is required</small>
  </div>
  
  <label for="Designation" class="floatLabel">Designation</label>
  <input id="Designation" name="Designation" type="text" placeholder="Your designation" [(ngModel)]="designation" ngModel required #_designation="ngModel">
  <div>
    <small *ngIf="_designation.invalid && _designation.touched">*Designation is required</small>
  </div>

  <label for="Salary" class="floatLabel">Salary (&#8377;)</label>
  <input id="Salary" name="Salary" type="text" placeholder="Your salary" [(ngModel)]="salary" ngModel required #_salary="ngModel">
  <div>
    <small *ngIf="_salary.invalid && _salary.touched">*Salary is required</small>
  </div>

  <button type="submit" [disabled]="!myForm.valid">SUBMIT</button>
</form>
<br>
<br>
<!--Table showing registered employee information-->
<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Age</th>
    <th>Location</th>
    <th>Designation</th>
    <th>Salary</th>
  </tr>
  <tr *ngFor="let e of Employee;">
    <td>{{e.name}}</td>
    <td>{{e.id}}</td>
    <td>{{e.age}}</td>
    <td>{{e.location}}</td>
    <td>{{e.designation}}</td>
    <td>&#8377;{{e.salary}}</td>
  </tr>
</table>
</body>

</html>